/* Головна секція-контейнер */
.autor-section {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
    /* Пріоритетні відступи з глобальних змінних */
    padding-inline: var(--padding-inline-section) !important;
    padding-block: var(--padding-block-section) !important;
    
    /* Вертикальне розміщення: Заголовок -> Підзаголовок -> Контент */
    display: flex;
    flex-direction: column; 
    align-items: center; 
    box-sizing: border-box;
}

/* Контейнер для фото та тексту (флекс-ряд) */
.autor-flex-container {
    display: flex;
    align-items: stretch; 
    justify-content: center;
    gap: 30px;
    width: 100%;
    /* Відступ від підзаголовка до самого контенту */ 
}

/* Картка з текстом */
.autor-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0; /* Захист від розтягування при зумі */
}

.autor-text {
    font-family: var(--font-family-desc);
    font-size: 17px;
    line-height: 1.6;
    font-weight: 400;
    color: var(--color-title);
    text-align: left;
}

.autor-text a, 
.site-name a {
    text-decoration: none;
    color: var(--bg-button-universal);
    font-weight: 600;
}

/* Блок для фото */
.autor-photo {
    flex: 0 0 350px; /* Ширина фото на десктопі */
    display: flex;
    min-width: 0;
}

.autor-png {
    width: 100%;
    height: 100%; 
    border-radius: var(--card-radius);
    display: block;
    box-shadow: var(--card-shadow);
    object-fit: cover; /* Фото заповнює блок без деформації */
}

/* ==========================================================================
   АДАПТАЦІЯ ДЛЯ МОБІЛЬНИХ (max-width: 768px)
   ========================================================================== */

   @media (max-width: 768px) {
    section.autor-section {
        padding-inline: 20px !important;
        padding-block: 40px !important;
    }


    
    .autor-flex-container {
        flex-direction: column-reverse; 
        margin-top: 0;
        gap: 25px;
        /* Додатковий контроль центрування для всього контейнера */
        align-items: center; 
    }
    
    .autor-photo {
        flex: 0 0 auto;
        width: 100%;
        max-width: 350px;
        height: 350px;
        /* Цей рядок гарантує центрування блоку з фото */
        margin-inline: auto; 
        display: flex;
        justify-content: center;
    }

    .autor-text {
        font-size: 15px;
        text-align: center;
    }

}