.contacts-section {
    padding: 30px 20px;
    text-align: center;
}

.contacts-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.contact-card {
    background: #ffffff; /* Білий колір картки */
    border: 1px solid #e7e7e7;
    padding: 40px 1px;
    border-radius: 12px;
    width: 280px;
    box-shadow: 0 2px 10px #00000033;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid #007bff;
}

.contact-card:hover {
    transform: translateY(-3px); /* Легке підняття при наведенні */
    box-shadow: 0 15px 30px #00000033;
}

.contact-icon {
    width: 70px;
    height: 70px;
    background-color: #f0f4f8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    line-height: 0; /* Прибирає текстові відступи */
    overflow: hidden; /* Щоб іконка точно не виходила за межі */
}

.contact-icon img {
    width: 45px;
    height: 45px;
    display: block; /* Прибирає дефолтний відступ знизу */
    margin: 0 auto; /* Додаткове страхування по центру */
}
.contact-card h3 {
    font-family: 'SegoeUI';
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: -12.5px;
    font-size: 24px;
    color: #333;
}

.contact-card p a {
    font-family: 'SegoeUI';
    font-weight: 400;
    color: #007bff;
    text-decoration: none;
    font-size: 15px;
}

.contact-card p a:hover {
    text-decoration: underline;
}

/* ==========================================================================
   MOBILE ADAPTATION
   ========================================================================== */

@media (max-width: 992px) {
    .contacts-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 колонки для планшетів */
    }
}

@media (max-width: 768px) {
    .contacts-section {
        padding: 50px 0;
    }
    
    .contacts-grid {
        grid-template-columns: 1fr; /* 1 колонка для телефонів */
        gap: 20px;
    }

    .contacts-container {
        margin-top: 30px;
    }

    .contact-card {
        padding: 30px 15px;
    }
}