.contacts-section {
    padding-inline: var(--padding-inline-section);
    padding-block: var(--padding-block-section);
    text-align: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.contacts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки для десктопа */
    gap: 20px;
    margin-top: 30px;
}

.contact-card {
    padding: 40px 20px; /* Більше простору з боків */
    background-color: var(--card-color);
    border-radius: var(--card-radius);
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--card-border);
}

.contact-card:hover {
    border: var(--card-border-hover);
    box-shadow: var(--card-shadow);
}


.contact-icon img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.contact-card h3 {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 20px;
    color: var(--color-title);
    margin-top: 15px;
    margin-bottom: 5px;
}

.contact-card p {
    margin: 0;
}

.contact-card p a {
    font-family: var(--body-font);
    font-weight: 400;
    color: var(--universal-hover);
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s;
}

.contact-card p a:hover {
    opacity: 0.8;
    text-decoration: underline;
}

/* ==========================================================================
   ADAPTATION
   ========================================================================== */

@media (max-width: 992px) {
    .contacts-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 колонки для планшетів */
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .contacts-section {
        padding-inline: 15px; /* Менші поля на мобільних */
    }
    
    .contacts-grid {
        grid-template-columns: 1fr; /* 1 колонка для телефонів */
    }

    .contact-card {
        padding: 30px 15px;
    }
}