.faq-section {
    padding: 0 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    scroll-margin-top: 90px;
}

.faq-item {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 12px;
    margin-bottom: 15px;
    overflow: hidden;
    box-shadow: 0 2px 10px #00000033;
    transition: box-shadow 0.3s ease;
    transition: background-color 0.3s;
    border-top: 3px solid #0066ff;
}

.faq-question {
    width: 100%;
    padding: 20px 25px;
    background: none;
    border: none;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    font-family: 'SegoeUI', sans-serif;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    transition: 0.3s;
}
.faq-question:hover {
    background-color: #eee;
}

.faq-arrow {
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.faq-item.active .faq-arrow {
    transform: rotate(180deg);
}

/* Контейнер анімації */
.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out; /* Рівномірна швидкість */
}

/* Контейнер з контентом - ПАДІНГИ ТУТ */
.faq-answer-content {
    padding: 0 25px 25px 25px;
    border-top: 1px solid #eee;
}

.faq-answer p {
    margin-top: 15px;
    color: #666;
    font-family: 'SegoeUI', sans-serif;
    font-size: 15px;
    line-height: 1.7;
    text-align: left;
}
@media (max-width: 768px) {
    .faq-section {
        margin-top: 20px; /* Зменшили зі 100px */
    }
    .faq-container {
        margin-top: 60px; /* Відступ для мобільних пристроїв */
    }
}