:root {
    /* Для секції */
    --margin-inline-section: 50px;
    --margin-block-section: 50px;

    /* Для заголовків */
    --font-section-title: 'Montserrat', sans-serif; 
    --text-weight-title: 500;
    --text-color-title: #222222;
    --margin-bottom-section-title: 20px; 
    
    /* Для опису заголовків */
    --font-section-desc: 'SegoeUI', sans-serif;
    --text-weight-desc: 300;
    --text-color-desc: #5e5e5e;

    /* Для карток */
    --card-radius: 15px;         /* Закруглення кутів */
    --card-shadow: 0 0 10px #0000001a;
    --card-shadow-hover: 0 0 15px #00000026;

    /* Кнопки */
    --button-font: 'Montserrat', sans-serif;
    --buttong-font-weight: 600;

    --button-action-bg: #000000;
    --button-universal-bg: #004bff;
    --button-cancel-bg: #e00303;
}